{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choripan Center</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <a class ="logo-casita" href="{% url 'home' %}"></a>
        <img src="{% static 'images/Logo-Choripan.png' %}" class="logo-center"> 
        <img src="{% static 'images/Logo-usm.png' %}" class="logo-usm">
    </header>    

    <h1>noooo</h1>
    <a class="btn" href="https://linktr.ee/ramos.usm">BotonCamellon</a>

</body>
</html>