{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choripan-Center</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body { padding-top: 60px;}
    </style>
</head>

<body>

    <header class="navbar">
            <a href="{% url 'home' %}" class="config-boton logo-casita">
            <img src="{% static 'images/Logo-casita.png' %}">
    
        <div class="Config-logo">
            <img src="{% static 'images/Logo-Choripan.png' %}" class="logo">
            <img src="{% static 'images/Logo-usm.png' %}" class="logo">
        </div>

        <div class="Nav-Boton">
            <a href="#" class="config-boton login-button">
                <img src="{% static 'images/img-login.png' %}">
            </a>
            <button class="config-boton menu-button" >
                <img src="{% static 'images/img-menu.png' %}">
            </button>
        </div>
    </header>

    <main class="contenido-principal">
        <div class="botones-enlaces"> 
            <a href="https://linktr.ee/ramos.usm>" class=""
                </a>
            
            <a href="url_materia_2.html" class="boton-redireccion-imagen boton-materia-2">
                </a>

            <a href="url_materia_3.html" class="boton-redireccion-imagen boton-materia-3">
                </a>

            <a href="url_materia_4.html" class="boton-redireccion-imagen boton-materia-4">
                </a>

            <a href="url_materia_5.html" class="boton-redireccion-imagen boton-materia-5">
                </a>

            <a href="url_materia_6.html" class="boton-redireccion-imagen boton-materia-6">
                </a>

        </div>

        <div class="barra-busqueda">
            <input type="text" placeholder="Ingresa la materia que necesites o quieras ayuda :)">
            <button>Buscar</button>
        </div>
    </main>

</body>
</html>