{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choripan-Center</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<script>
  function cerrarmenu(){
    document.getElementById("ladomenu").style.width="0";

  }
  function abrirmenu(){
    document.getElementById("ladomenu").style.width="300px";
  }  
</script>

     <div class="menulado" id="ladomenu">
            <a href="javascript:void(0)" class="cerrarmenu" onclick="cerrarmenu()">X</a>

            {% if user.is_authenticated %}
                <span class= "" style="padding: 15px; display: block; color: white;">{{ user.username }}</span> 
        
                <form method="post" action="{% url 'logout' %}" style="display: block; padding: 0;">
                    {% csrf_token %} <button type="submit"
                     style="background: none; border: none; color: white; cursor: pointer; 
                            width: 100%; text-align: left; padding: 10px 15px; font-size: 1em;">Cerrar Sesión </button>
                </form>
                <hr style="margin: 10px 0;">
                <a href="{% url 'home_publicar' %}">Publicar</a>
                <a href="{% url 'muro_prestamos' %}">Muro Préstamos</a>
                <a href="{% url 'muro_ayudas' %}">Muro Ayudas</a>
                <a href="{% url 'muro_servicio' %}">Muro Servicios</a>
            {% else %}
                <span style="padding: 15px; display: block; color: white;">Si quieres acceder al menu debes iniciar sesion</span> 

            {% endif %}
        </div>
    <header class="navbar">       

        <div class="logo-grupo-izquierdo">
            <a href="{% url 'home' %}" class="config-boton logo-casita">
                <img src="{% static 'images/logo-casita (2).svg' %}">
            </a>
            
            <img src="{% static 'images/logo-choripan.svg' %}">
        </div>

        <div class="Nav-Boton">

            {% if request.path != '/login/' and request.path != '/usuarios/registro/' %}

            <a href="{% url 'login' %}" class="config-boton login-button">
                <img src="{% static 'images/logo-iniciar sesion.svg' %}">
            </a>

            <img src="{% static 'images/logo-slash.svg' %}" class="slash">

            <a href="{% url 'registro' %}" class="config-boton login-button">
                <img src="{% static 'images/logo-registrarse.svg' %}">
            </a>

            {% endif %}
            
            <button class="config-boton menu-button" onclick="abrirmenu()">
                <img src="{% static 'images/logo-menu.svg' %}">
            </button>
        </div>
    </header>

    {% if request.path != '/login/' and request.path != '/usuarios/registro/' %}
    <div class="Asistente-Virtual">
        <div class="Asistente">
            <img src="{% static 'images/choripan.png' %}" alt="Asistente Choripán" class="choripan-img">
        </div>
        <div class="globo-texto" >
            ¡Bienvenido! Te invito a responder esta encuesta para conocerte mejor y poder brindarte una mejor ayuda.

            <a href="{% url 'preferencias_ayudas' %}" class="boton-encuesta">
                Responder Encuesta
            </a>
        </div>
    </div>
     {% endif %}


{% block content %}
    <main class="contenido-principal">


        <div class="botones-enlaces"> 
            <a href="https://biblioteca.usm.cl/inicio" class="config-boton-link bibloteca-usm">
                <img src="{% static 'images/logo-blibloteca.svg' %}" alt="bibloteca"  class="logo-enlace">
            </a>
            
            <a href="https://siga.usm.cl/pag/home.jsp" class="config-boton-link siga-usm">
                <img src="{% static 'images/logo-siga.svg' %}" alt="SIGA" class="logo-enlace">
            </a>

            <a href="https://sireb.usm.cl/" class="config-boton-link sireb-usm">
                <img src="{% static 'images/logo-sireb usm.svg' %}" alt="Sireb" class="logo-enlace">
            </a>
            <a href="https://aula.usm.cl/portada/index.php" class="config-boton-link aula-usm">
                <img src="{% static 'images/logo-aula usm.svg' %}" alt="Aula"  class="logo-enlace">
            </a>
            <a role="link" aria-disabled="true"  class="empty">
            </a>
            <a href="https://linktr.ee/ramos.usm" class="config-boton-link linktree-usm">
                <img src="{% static 'images/logo-linktree.svg' %}" alt="Linktree"  class="logo-enlace">
            </a>
            <a href="https://vra.usm.cl/calendario-academico" class="config-boton-link calendario-usm">
                <img src="{% static 'images/logo-calendario.svg' %}" alt="calendario"  class="logo-enlace">
            </a>
            <a role="link" aria-disabled="true" class="empty">
            </a>
        </div>

    </main>

    

{% endblock %}
</body>
</html>