
:root {
    --color-principal: #000000; /* Negro */
    --color-acento-claro: #ffcccc; /* Rojo Claro / Rosado Suave */
    --color-fondo-claro: #f8f8f8; /* Gris muy claro para el fondo */
    --color-texto-claro: #333333; /* Gris oscuro para el cuerpo del texto */
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    color: var(--color-acento-claro);
    border-bottom: 2px solid var(--color-acento-claro); /* Línea de acento */
    padding-bottom: 5px;
}

p {
    text-align: center;
    color: var(--color-acento-claro);
    border: 1px solid #000000;
    max-width: 600px;
    text-shadow: 0.5px 0.5px 0 #000000;
}


form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
}

fieldset {
    border: 1px solid var(--color-principal); /* Borde negro */
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: var(--color-principal);
    background-color: var(--color-acento-claro); /* Fondo de acento */
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--color-principal);
}


fieldset p {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto de la pregunta a la izquierda */
}


fieldset div {
    margin-bottom: 10px;
}

label {
    margin-left: 5px;
    cursor: pointer;
    line-height: 1.5; 
}


button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--color-principal); /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    border: 2px solid var(--color-acento-claro); /* Borde de acento */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: var(--color-acento-claro); /* Cambio de color al pasar el ratón */
    color: var(--color-principal); /* Texto negro al pasar el ratón */
    border-color: var(--color-principal);
}