{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de Preferencias de Ayuda</title>
    <link rel="stylesheet" href="{% static 'publicar/style_encuesta_ayuda.css' %}"> 
</head>
<body>
    <script>
        function cerrarmenu(){
            document.getElementById("ladomenu").style.width="0";
        }
        function abrirmenu(){
            document.getElementById("ladomenu").style.width="300px";
        }   
    </script>

    <div class="menulado" id="ladomenu">
        <a href="javascript:void(0)" class="cerrarmenu" onclick="cerrarmenu()">X</a>

        {% if user.is_authenticated %}
            <span class= "" style="padding: 15px; display: block; color: white;">{{ user.username }}</span> 
        
            <form method="post" action="{% url 'logout' %}" style="display: block; padding: 0;">
                {% csrf_token %} <button type="submit"
                    style="background: none; border: none; color: white; cursor: pointer; 
                            width: 100%; text-align: left; padding: 10px 15px; font-size: 1em;">Cerrar Sesión </button>
            </form>
            <hr style="margin: 10px 0;">
                <a href="{% url 'home_publicar' %}" class="menu-icon">
                    <img src="{% static 'images/Subir_Publicacion_Logo.svg' %}">
                </a>
                <a href="{% url 'muro_prestamos' %}" class="menu-icon">
                    <img src="{% static 'images/Muro_Prestamos_Logo.svg' %}">
                </a>
                <a href="{% url 'muro_ayudas' %}" class="menu-icon">
                    <img src="{% static 'images/Peticion_Ayuda_Logo.svg' %}">
                </a>
                <a href="{% url 'muro_servicio' %}" class="menu-icon" >
                    <img src="{% static 'images/Muro_Tutorias_Logo.svg' %}">
                </a>

        {% else %}
            <span style="padding: 15px; display: block; color: white;">Si quieres acceder al menu debes iniciar sesion</span> 

        {% endif %}
    </div>

    <header class="navbar">

        <div class="logo-grupo-izquierdo">
            <a href="{% url 'home' %}" class="config-boton logo-casita">
                <img src="{% static 'images/logo-casita (2).svg' %}">
            </a>
            
            <img src="{% static 'images/logo-choripan.svg' %}">
        </div>

        <div class="Nav-Boton">
            <button class="config-boton menu-button" onclick="abrirmenu()">
                <img src="{% static 'images/logo-menu.svg' %}">
            </button>
        </div>
    </header>

    <div class="main-content-wrapper">
        
        <div class="mascota-wrapper">
            <img src="{% static 'images/logo-ChoripanEncuestador.png' %}" alt="Mascota Encuestadora" class="mascota-encuesta-lateral">
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <h2>Configuración de Preferencias de Ayuda</h2>
                
                {{ form.as_p }}
                
                <button type="submit">Guardar Preferencias</button>
            </form>
        </div>
    </div>
    
</body>
</html>