{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choripan-Center</title>
    <link rel="stylesheet" href="{% static 'muros/style_muro_servicios.css' %}">
</head>
{% block content %}
<h2>Publicaciones de {{ nombre }}</h2>

{% for pub in publicacion %}
    <h3>{{ pub.titulo }}</h3>
    <p>{{ pub.usuario.username }}</p>
    <p>{{ pub.contenido }}</p>
    <p>{{ pub.fechaCreacion|date:"d M Y H:i" }}</p>
    <p>Categorias {{ pub.modalidad }} {{ pub.tipoSesion }} {{ pub.asignatura }} </p>

    <p>
        <button onclick="verComentarios('comentarios-{{ pub.id }}')">
            Comentarios ({{ pub.Comentarios.count }})
        </button>
    </p>
    <div id="comentarios-{{ pub.id }}">
        
        {% for comentario in pub.Comentarios.all %}
            <p>
                {{ comentario.contenido }}
                {{ comentario.usuario.username }}
                {{ comentario.fechaCreacion|date:"H:i" }}
                
            </p>
        {% empty %}
            <p>No hay comentarios.</p>
        {% endfor %}

        <form method="POST" action="{% url 'crear_comentario' pub.id pub.tipoMuro %}">
            {% csrf_token %}
            {{ comentarios.as_p }} 
            <button type="submit">Comentar</button>
        </form>
    </div>
    {% if pub.usuario == user %}
        <form method="POST" action="{% url 'borrarPub' pub.id %}">
            {% csrf_token %}
            <button type="submit">
                Eliminar
            </button>
        </form>
    {% endif %}
    <hr> 
{% empty %}
    <p>No hay publicaciones</p>
{% endfor %}

<script>
    function verComentarios(elementId) {
        var comentariosDiv = document.getElementById(elementId);
    
        if (comentariosDiv.style.display === "none") {
            comentariosDiv.style.display = "block";
        } else {
            comentariosDiv.style.display = "none";
        }
    }
</script>

{% endblock content %}