@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    padding-top: 90px; 
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, #0e141e, #10080C);
}

.navbar {
    background: linear-gradient(90deg, #DC6749, #A15180);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 15px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-casita{
    background-color:none;
    height: 100%;
    margin-left: 0%;
    width: auto;
    padding: 0;
    display: flex; 
    align-items: center;

}

.logo-casita img {
    height: 50px; 
    width: 50px;
    display: block;
}

.logo-choripan{
    background-color:none;
    height: 100%;
    display: flex;
    width: 25%;
    padding: 0;
    justify-content: center;
    border: none;
    align-items: center;
    justify-content: center;
}
.logo-usm{    
    align-items: center;
    justify-content: center;
    background-color:none;
    border: none;
    height: 100%;
    display: flex;
    padding: 0;
    width: 25%;
    justify-content: center;
}

.Nav-Boton {
    display: flex;
    height: 100%;

}

.config-boton {
    background: none;
    border: none;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: auto;
    color: white; 
}
.config-boton img {
    height: 55%;
    /*display: block;*/
}

.config-boton:hover {
    opacity: 0.8;
}
.login-boton{
    background-color: #9370db;
    padding: 0 20px; 
    margin-right: 10px;
}
.menu-boton{
    background-color: #4b0082;
    padding: 0 20px;
    margin-right: 2%;
}

.contenido-principal{
    max-width: 1200px;
    margin: 150px auto 30px auto;
    padding: 0 20px;
}

.botones-enlaces{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 30px;
}

.config-boton-link{
    min-height: 250px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end; /* Alinear el texto abajo */
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.config-boton-link:hover{
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.linktree-usm{
    background-image: url();
    background-color: #e83e8c;
}
.siga-usm{
    background-image: url();
    background-color: #28a745;
}
.sireb-usm{
    background-image: url();
    background-color: #8f40a1;

}.aula-usm{
    background-image: url();
    background-color: #007bff;
}
.barra-busqueda {
display: flex;
justify-content: center;
width: 80%;
margin: 30px auto 50px auto;
border: 2px solid #ccc;
border-radius: 25px;
overflow: hidden;
}

.barra-busqueda input[type="text"]{
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
}

.barra-busqueda button{
    flex-shrink: 0;
    background-color: #263752;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}
.barra-busqueda button:hover {
    background-color: #A15180;
}

.menulado {
 background:linear-gradient(0deg, #DC6749, #A15180);
 z-index: 2000;
 top: 0;
 right: 0;
 height: 100%;
 width: 0;
 position: fixed;
 transition: 0.7s;
 padding-top: 40px;
overflow: hidden;
}
.menulado a {
    text-decoration: none;
    font-size: 30px;
    color:#ccc ;
    padding: 8px;
    display:block;
    transition: 0.5s;
}
.menulado a:hover {
 color: rgb(187, 229, 230);
}

.menulado .cerrarmenu{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    margin-left:50px;
    display: flex;
}
